<h1>Are you sure?</h1>

<h2>STOP! Click here if you're really sure that you want to delete everything.</h2>
<br>
<div>
  <%= link_to "Delete All Applications, Users and References", reset_applications_action_path(confirm:true, students:true), { class: "btn btn-danger"} %>
</div>
<br/>
<div>
  <%= link_to "Delete All Reviewers", reset_applications_action_path(confirm:true, reviewers:true), { class: "btn btn-danger"} %>

</div>
