<%# add navigation links to this file %>
<% if user_signed_in? %>
    <% if current_user.has_role? :student %>
        <% if Application.find_by_uid(current_user.id).present? %>
            <li><%= link_to 'My Application', edit_application_path(Application.find_by_uid(current_user.id)) %></li>
        <% else %>
            <li><%= link_to 'My Application', new_application_path %></li>
        <% end %>
        <li><%= link_to 'My References', references_path %></li>
    <% end %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <% if current_user.has_role? :reviewer %>
        <li><%= link_to 'Applications', applications_path %></li>
        <li><%= link_to 'Scores', scores_path %></li>
    <% end %>
    <% if current_user.has_role? :admin %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><%= link_to 'All', applications_path %></li>
            <li class="divider"></li>
              <li><%= link_to 'Completed', applications_path(:signed => 1, :transcript => 1, :essay => 1, :reference => 1 )%></li>
            <li class="divider"></li>
            <li><%= link_to 'For My Review', applications_path(:user_id => current_user.id )%></li>

          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Users', users_path(:order => "registered_desc") %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'Students', users_path(:role => "student") %>
            </li>
            <li>
              <%= link_to 'Reviewers', users_path(:role => "reviewer") %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'References', references_path %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'Reset for Next Year', reset_applications_action_path %>
            </li>
          </ul>
        </li>
    <% end %>
<% else #not signed in%>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
